*.orig
*.rej
*.so
*.swp
*.test
*.zip
*~
*#*#
*.cpio.xz
/goes-build
/*.patch
*.rom
*.vmlinuz
/worktrees
/platina-*.bin
/platina-*.dtb
debian/goes-build.substvars
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
